$primary-color: #000;
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$white: #ffffff;
$border-color: #ddd;

$font-family: 'Arial', sans-serif;
$font-size-base: 16px;
$font-size-title: 24px;
$font-size-card-title: 18px;
$font-size-card-text: 14px;
