.container {
  padding: 16px;
}

.banner {
  width: 100%;
  height: 320px;
  background-image: url("https://images.unsplash.com/photo-1511707171634-5f897ff02aa9");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.banner-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 24px 32px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
}

.benefits {
  display: flex;
  justify-content: center;   /* CENTRALIZA NO EIXO HORIZONTAL */
  align-items: center;       /* CENTRALIZA NO EIXO VERTICAL */
  gap: 32px;
  margin: 0 auto 40px;
  padding: 0 20px;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.benefit-item {
  font-size: 14px;
  color: #333;
  white-space: nowrap;
}

.product-list {
  display: flex;
  gap: 16px;
  overflow-x: auto;
}

.product-card {
  min-width: 220px;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.product-card img {
  width: 100%;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.buy-button {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

.close {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
